<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="big-box">
          <h1 class= "card-title text-info">Mission to Mars</h1><hr>
          <button>Scrape New Data</button>
        </div>
      </div>
      <div class="col-md-12">
        <h3>Latest Mars News</h3>
        <h4>For InSight, Dust Cleanings Will Yield New Science</h4>
        <h5>Wind can be crucial to clearing dust from spacecraft solar panels on Mars. With InSight's meteorological sensors, scientists get their first measurements of wind and dust interacting "live" on the Martian surface.</h5>
      </div>
      <div class="col-md-8">
        <h3>Featured Mars Image</h3>
      </div>
      <div class="col-md-8">
        <div class="big-box">
        <img src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18905_hires.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="big-box">
          <h3 class= "card-title text-info">Current Weather on Mars</h1><hr>
          <h4>InSight sol 157 (2019-05-06) low -100.2ºC (-148.4ºF) high -18.4ºC (-1.2ºF)
winds from the W at 4.1 m/s (9.2 mph) gusting to 14.6 m/s (32.7 mph)
pressure at 7.40 hPapic.twitter.com/R6BliV8xpj</h4>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Mars Facts</h4>
        <h5>[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]</h5>
      </div>
      <div class="col-md-6">
        <h3>Valles Marineris Hemisphere Enhanced</h3>
        <img src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg">
      </div class="col-md-6">
      <div class="col-md-6">
        <h3>Cerberus Hemisphere Enhanced</h3>
        <img src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg">
      </div class="col-md-6">
      <div class="col-md-6">
        <h3>Schiaparelli Hemisphere Enhanced</h3>
        <img src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg">
      </div class="col-md-6">
      <div class="col-md-6">
        <h3>Syrtis Hemisphere Enhanced</h3>
        <img src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg">
      </div class="col-md-6">
    </div>
  </div>
</body>

</html>
