<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
      <div class="jumbotron">
          <h1 class= "card-title text-info">Mission to Mars</h1><hr>
          <a class="btn btn-success btn-lg" href="/scrape" role="button">Scrape New Data</a>
      </div>
      <div class="container">
        <h3>Latest Mars News</h3>
        <h4>{{ mars_info.news_title }}</h4>
        <p>{{ mars_info.news_p }}</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Featured Mars Image</h3>
            <img src="{{ mars_info.featured_image_url }}" style="max-width:100%; max-height: auto">
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h3 class= "card-title text-info">Current Weather on Mars</h1><hr>
                <p>{{ mars_info.weather_tweet }}</p>
              </div>
            </div>
            <br>
            <h3>Mars Facts</h4>
            <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
              {{ mars_info.facts_table|safe }}
            </div>
          </div>
        </div>
      </div>
      <h3 style="padding-top: 50px; margin-top: 100px; text-align: center; color: Purple;">Mars Hemispheres</h3>
      <div class="card-deck">
          <hr>
          <div class="col-md-12">
              <div class="row">
                  {% for item in mars_info.hemisphere_img_urls %}
                  <div class="col-md-3 ">
                      <div class="card text-white bg-dark" style="width: 18rem;">
                          <img class="card-img-top img-responsive" src="{{ item.img_url }}" />
                          <div class="card-body">
                              <h3 style="color: Green">{{ item.title }}</h3>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
#Bootstrap JS
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

</body>

</html>
